{% extends 'base.html' %}
{% load static %}
{% block title %} Computer Vision {% endblock %}
{% block css_imports %}
{% endblock %}

{% block content %}
<div class="container-fluid mb-5 g-0">
    <div class="row g-0">
        <div class="col-12 col-md-2 g-0">
            {% include 'includes/dashboard_sidebar.html' %}
        </div>

        <!--begin dashboard-->
        <div class="col-12 col-md-10 ps-5 text-center g-0">
            
            <!--intro-->
            <h2>Computer Vision</h2>
            <p>YOLO &amp; Opencv goodness ! </p>
            <hr>

            <!--about-->
            <div class="text-start mt-5 mt-md-3 ps-5 g-0">
                <h4>What would you find here ?</h4>
                <p>This app is your Computer Vision portal utiliazing YOLO &amp; Opencv algorithms.</p>
            </div>

        </div>
        <!-- end dashboard-->

    </div>
</div>

{% endblock content %}
